body {
	margin: 0;
	font-family: Verdana,Arial,Microsoft JhengHei,Microsoft YaHei;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

h2 {
	font-size: 1.7rem;
	font-weight: normal;
	color: #666;
	letter-spacing: 0.1rem;
}

h4 {
	font-size: 1.2rem;
	font-weight: normal;
	color: #666;
	letter-spacing: 0.1rem;
}

p {
	font-size: 0.9rem;
	color: #888;
	line-height: 1.6rem;
}

/* navigator strat */

.navigator {
	background-color: #4cabb1;
	width: 280px;
	height: 100%;
	position: fixed;
	right: -350px;
	top: 0;
	z-index: 1500;
	padding: 10px 30px;
}

	.navigator p {
		text-align: right;
	}

		.navigator p a {
			font-size: 1.4rem;
			transition: color 0.3s;
			color: rgba(255,255,255,0.7);
		}
		
		.navigator p a:hover {
			transition: color 0.3s;
			color: rgba(255,255,255,1);
		}

	.navigator ul {
		list-style: none;
		padding: 0;
	}
	
		.navigator li {
			line-height: 3rem;
		}
		
		.navigator ul li:nth-child(1), .navigator ul li:nth-child(2) {
			border-bottom: 1px solid #ccc;
		}
		
		.navigator ul a {
			color: #eee;
			text-decoration: none;
		}

	.navigator div a {
		display: block;
		text-decoration: none;
		line-height: 50px;
		border-radius: 25px;
		text-align: center;
		color: #eee;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 0.85rem;
	}
	
	.navigator div a:nth-child(1) {
		background-color: rgba(255,255,255,0.2);
		transition: background-color 0.3s;
	}
	
	.navigator div a:nth-child(1):hover {
		background-color: rgba(255,255,255,0.3);
		transition: background-color 0.3s;
	}

	.navigator div a:nth-child(2) {
		border: 1px solid #ccc;
		background-color: rgba(255,255,255,0);
		transition: background-color 0.3s;
	}
	
	.navigator div a:nth-child(2):hover {
		background-color: rgba(255,255,255,0.2);
		transition: background-color 0.3s;
	}











